        Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
        MongoDB over SQL databases?
Ans = MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need.
A non-relational database stores data in a non-tabular form, and tends to be more flexible than the traditional, SQL-based, relational database structures. It does not follow the relational model provided by traditional relational database management systems.

Q2. State and Explain the features of MongoDB.
Features of MongoDB
In MongoDB, you can search by field, range query and it also supports regular expression searches. You can index any field in a document. MongoDB supports Master Slave replication. MongoDB can run over multiple servers

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [29]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://amanaasti04:amanaasti04@cluster0.zxbj7ll.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [30]:
db = client["assignment"]

In [32]:
my_assig = db["my_data"]

In [33]:
data1 = { "alfa" : ['a','b','c','d'],
         "num":[1,2,3,4,5,6,7],
         "name" : ["ram","shym","hero"]
        }

In [34]:
my_assig.insert_one(data1)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [36]:
data2 = { "alfa" : ['a','b','c','d'],
         "num":[1,2,3,4,5,6,7],
         "name" : ["ram","shym","hero"],"alfa" : ['a','b','c','d'],
         "num":[1,2,3,4,5,6,7],
         "name" : ["ram","shym","hero"]
        ,"alfa" : ['a','b','c','d'],
         "num":[1,2,3,4,5,6,7],
         "name" : ["ram","shym","hero"]
        ,"alfa" : ['a','b','c','d'],
         "num":[1,2,3,4,5,6,7],
         "name" : ["ram","shym","hero"],"alfa" : ['a','b','c','d'],
         "num":[1,2,3,4,5,6,7],
         "name" : ["ram","shym","hero"]
        ,"alfa" : ['a','b','c','d'],
         "num":[1,2,3,4,5,6,7],
         "name" : ["ram","shym","hero"]
        ,"alfa" : ['a','b','c','d'],
         "num":[1,2,3,4,5,6,7],
         "name" : ["ram","shym","hero"]
        ,"alfa" : ['a','b','c','d'],
         "num":[1,2,3,4,5,6,7],
         "name" : ["ram","shym","hero"]
        ,"alfa" : ['a','b','c','d'],
         "num":[1,2,3,4,5,6,7],
         "name" : ["ram","shym","hero"]
        ,"alfa" : ['a','b','c','d'],
         "num":[1,2,3,4,5,6,7],
         "name" : ["ram","shym","hero"]
        ,"alfa" : ['a','b','c','d'],
         "num":[1,2,3,4,5,6,7],
         "name" : ["ram","shym","hero"]
        
        
        }

In [37]:
my_assig.insert_one(data2)

In [38]:
for i in my_assig.find():
    print(i)

{'_id': ObjectId('643275c701b28a9a4974d710'), 'alfa': ['a', 'b', 'c', 'd'], 'num': [1, 2, 3, 4, 5, 6, 7], 'name': ['ram', 'shym', 'hero']}
{'_id': ObjectId('6432781101b28a9a4974d711'), 'alfa': ['a', 'b', 'c', 'd'], 'num': [1, 2, 3, 4, 5, 6, 7], 'name': ['ram', 'shym', 'hero']}
{'_id': ObjectId('6432782901b28a9a4974d713'), 'alfa': ['a', 'b', 'c', 'd'], 'num': [1, 2, 3, 4, 5, 6, 7], 'name': ['ram', 'shym', 'hero']}
{'_id': ObjectId('6432783d01b28a9a4974d714'), 'alfa': ['a', 'b', 'c', 'd'], 'num': [1, 2, 3, 4, 5, 6, 7], 'name': ['ram', 'shym', 'hero']}

In [39]:
for i in my_assig.find_one():
    print(i)

_id
alfa
num
name

In [ ]:
Q7. Explain why delete_one(), delete_many(), and drop() is used.
with the use of drop function we can drop our intayr collectrion and with the use of delete_one we can choose an