Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [9]:
data = [4,8,15,16,23,42]

In [23]:
my_serise = pd.Series(data)

In [24]:
my_serise

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [25]:
test = [1,2,3,4,5,6,7,8,9,10]
serise_test1 = pd.Series(test)
print(serise_test1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [20]:
my_data = { "name" : [ "alice", "bob" , "claire"],
           "age" : [ 25,30,27],
           "gender" : ["female", "male" , "female"]
          }

In [28]:
show_data = pd.DataFrame(my_data)
print(show_data)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [31]:
#lets Understand with example
d1 = {"name" : ["ram","sita","lakshman"],
      "age" : [ 34,56,45],
      "live" : [ "mumbai" , "ahemdabad" , "chennai"]
     }

In [33]:
#use with serise
d1_serise = pd.Series(d1)
print(d1_serise)
#use with datafreme
datafream_d1 = pd.DataFrame(d1)
print(datafream_d1)

name           [ram, sita, lakshman]
age                     [34, 56, 45]
live    [mumbai, ahemdabad, chennai]
dtype: object
       name  age       live
0       ram   34     mumbai
1      sita   56  ahemdabad
2  lakshman   45    chennai

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans - there are meny function with help we can manipulate data in pandas .
pandas consider as pd
pd.Series()
d1.appand()
df.drop()
df.loc()
df.iloc()
pd.head()
pd.tail()
df.fillna()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans - Both Series and DataFrame are mutable in nature, while Panel is considered to be deprecated and its use is discouraged.

In pandas, mutability means that the objects can be changed after they are created. For example, you can add, remove, or modify elements in a mutable object. Both Series and DataFrame can be modified by changing values in specific cells or adding/removing rows or columns.

On the other hand, Panel is a three-dimensional data structure in pandas that can be thought of as a collection of DataFrame objects. However, its use is discouraged in favor of using MultiIndex DataFrames or xarray. Panel is considered to be deprecated and has been removed in the latest version of pandas (1.3.0).

Therefore, Series and DataFrame are the primary mutable data structures in pandas, and they are widely used for data analysis and manipulation.

Q7. Create a DataFrame using multiple Series. Explain with an example.
Ans -

In [34]:
age = [1,2,3]
mobile_num = [ 3434344,343554,3234353]
flat = [ 345,543,376]

In [37]:
age_serise = pd.Series(age)
mobile_num_serise = pd.Series(mobile_num)
flat_serise = pd.Series(flat)

all_data = pd.DataFrame({'col1':age_serise,'col2':mobile_num_serise, 'col3':flat_serise})
print(all_data)

   col1     col2  col3
0     1  3434344   345
1     2   343554   543
2     3  3234353   376