Q1. List any five functions of the pandas library with execution.
Ans - pandas in very power librey in python hear is some funtions of pandas with execution.

In [1]:
import pandas as pd

data = { "name" : ["raam" ,"shyam","radha","krishna"],
        "age" : [23,334,434,343]
       }

In [36]:
d1 = pd.DataFrame(data)

In [5]:
d1.dtypes

name    object
age      int64
dtype: object

In [6]:
d1.describe()

              age
count    4.000000
mean   283.500000
std    179.444513
min     23.000000
25%    256.250000
50%    338.500000
75%    365.750000
max    434.000000

In [7]:
d1.mean()

/tmp/ipykernel_91/112539192.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  d1.mean()

age    283.5
dtype: float64

In [9]:
d1[['age','name']]

   age     name
0   23     raam
1  334    shyam
2  434    radha
3  343  krishna

In [11]:
d1.columns

Index(['name', 'age'], dtype='object')

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [13]:
def reindex_dataframe(df):
    df = df.reset_index(drop=True)
    df.index = range(1, 2 * len(df) + 1, 2)
    return df

In [15]:
reindex_dataframe(d1)

      name  age
1     raam   23
3    shyam  334
5    radha  434
7  krishna  343

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [34]:
lst = {"value" :[10, 20, 30, 40, 50]}

In [37]:
df = pd.DataFrame(lst)

In [39]:
def calculate_sum_of_first_three(df):
    total = 0
    for i in range(3):
        total += df['value'].iloc[i]
    print(total)
print(calculate_sum_of_first_three(df))

60
None

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [2]:
import pandas as pd

In [22]:
data = [ {"text" : " computer programming language often used to build websites and software, automate tasks, and conduct data analysis. Python is a general-purpose language, meaning it can be used to create a variety of different programs and isn't specialized for any specific problems. " }]

In [23]:
df = pd.DataFrame(data)

In [24]:
df['word_count'] = df['text'].apply(lambda x : len(x.split()))

In [25]:
df

                                                text  word_count
0   computer programming language often used to b...          40

Q5. How are DataFrame.size() and DataFrame.shape() different?
Ans - DataFrame.size() returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns. This method returns a single integer value representing the total number of elements in the DataFrame.

DataFrame.shape(), on the other hand, returns a tuple representing the dimensions of the DataFrame. The tuple contains two integers: the number of rows and the number of columns, respectively. This method is useful for checking the size of the DataFrame.

In [32]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print(df.size)

9

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print(df.shape)

Q6. Which function of pandas do we use to read an excel file?
Ans - we can use read.excel to read excel file

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [34]:
import pandas as pd

def extract_username(df):
    usernames = df['Email'].str.split('@').str[0]
    df['Username'] = usernames
    return df

# create a sample DataFrame
df = pd.DataFrame({'Email': ['john@example.com', 'jane@example.com']})
df = extract_username(df)
print(df)

              Email Username
0  john@example.com     john
1  jane@example.com     jane

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [35]:
data = [{"a" : [0,1,2,3,4],
         "b" : [3,8,6,2,9],
         "c" : [1,7,4,5,2]
        }]

In [41]:
dfs = []
for key in data[0].keys():
    df = pd.DataFrame(data[0][key], columns=[key])
    dfs.append(df)


df = pd.concat(dfs, axis=1)
print(df)

   a  b  c
0  0  3  1
1  1  8  7
2  2  6  4
3  3  2  5
4  4  9  2

In [48]:
import pandas as pd

def select_rows(df):
    return df[(df['a'] > 5) & (df['b'] < 10)]

In [43]:
print("ta")
pass

   a  b  c
0  0  3  1
1  1  8  7
2  2  6  4
3  3  2  5
4  4  9  2